public-hoist-pattern[]=remark-*
public-hoist-pattern[]=rehype-*
public-hoist-pattern[]=unified
public-hoist-pattern[]=unist-util-*
public-hoist-pattern[]=parse5
public-hoist-pattern[]=debug
public-hoist-pattern[]=@resvg/resvg-js*

supported-architectures.os=current,linux
supported-architectures.cpu=current,x64
supported-architectures.libc=current,musl,glibc
